<div class="row p-3 m-3 ">
    <% @orders.each do |order| %>
      <% if order.status == "pending" %>
        <div class="col-md-4">
          <div class="card mb-3 card-orders  l-bg-blue-dark">
            <div class="card-header">
              <h5 class="card-title">
                Order # <%= order.id %>
              </h5>
            </div>
            <div class="card-body">
              <ul class="">
                <% order.foods.each do |food| %>
                  <% if food.type == 'dish' %>
                    <li class="">
                      <%= food.name %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="card-footer">
              <%= button_to order.status, update_status_path(order), method: :put, remote: true, data: { confirm: "Are you sure?" }, class: "btn btn-success btn-block" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
