<% @orders.each do |order| %>
 <% if order.status == "pending" %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <% order.foods.each do |food| %>
        <% if food.type == 'dish' %>
          <h5 class="card-title">
            <%= food.name %>
          </h5>
        <% end %>
      <% end %>
    <%= button_to order.status, update_status_path(order), method: :put, remote: true, data: { confirm: "Are you sure?" }, class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
<% end %>
