<div class="d-flex flex-wrap gap-3 ">
  <% order_counter = 0 %>
  <% @orders.each do |order| %>
    <% if order.status == "pending" %>
      <% order_counter += 1 %>
      <div class="col-3 mb-2 mt-3">
        <div class="card bg-c-yellow order-card" style="margin-right: 10px;margin-left: 20px">
          <div class="card-block text-center">
            <h6 class="m-b-20">Orden #<%= order.id%></h6>
            <% order.foods.each do |food| %>
              <% if food.type == 'dish' %>
                <h5 class="card-title text-center fs-3">
                  <%= food.name %>
                </h5>
              <% end %>
            <% end %>
            <div class="text-center">
              <%= button_to order.status, update_status_path(order), method: :put, remote: true,class: "btn btn-lorenzo mt-3 btn-lg", style: ' width: 100%; font-size: 1.5rem;' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
</div>
