<div class="container">
  <h2>Recently Added</h2>
  <div class="row">
    <% @tables.each do |table| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= table.numer %></h2>
            <p class="card-text"><%= table.id %></p>
          </div>
        </div>
      </div>
    <% end %>
