.container.d-flex.justify-content-between {
  background-color: #CAE9FF; /* Yellow background */
  padding: 10px;
  text-align: center;
}

/* Restaurant table styling */
.container {
  margin-top: 20px;
}

.fixed-table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-circle {
  position: relative;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.card-circle:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.card-circle-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  box-sizing: border-box;
  text-align: center;
}

.card-circle-title,
.card-circle-text {
  color: black;
}

.card-circle-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-circle-text {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #4CAF50; /* Green color for the button */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  transition: background-color 0.3s;
}
.btn-facundo {
  background-color: #4472d7; /* Green color for the button */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049; /* Darker green on hover */
}
.card-circle:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add a subtle glow effect */
  transition-duration: 0.3s;
}
.card-circle.table-empty {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5); /* White for empty tables */
}

.card-circle.table-reserved {
  background: linear-gradient(45deg,#4099ff,#73b4ff); /* Light red for reserved tables */
}

.card-circle.table-full {
  background: linear-gradient(45deg,#FF5370,#ff869a);; /* Light green for available tables */
}

.card-circle.table-checkout {
  background: linear-gradient(45deg,#FFB64D,#ffcb80); /* Light gray for tables with customers checking out */
}

.card-circle.table-default {
  background-color: #e0e0e0; /* Default color for unknown status */
}

.btn-aling{
  align-self: center;
}

.show-orders-container{

}

.btn-secondary:hover {
  background-color: #FFD700; /* Change the background color on hover */
  color: #000; /* Change the text color on hover */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.custom-select {
  height: 50px;
}
